body {
    background-image: linear-gradient(to bottom, rgb(248, 162, 218), rgb(149, 222, 246));
}

h1 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 4px 3px 0px #7A7A7A;

}

h2 {
    color: black;
    text-align: center;  
}

p {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}

ul {
    text-align: center;
    margin: 0 auto;
}

li {
    margin: 0 auto;
    width: fit-content;
}

.cat {
    position: fixed;
    bottom: 0;
    left: 0;
}


.haha {
    display: block;
    margin: auto;
    width: 30%;
    height: 50%;
}

a.button { 
    background-color: rgb(245, 85, 205);
    padding: 2px 6px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border: 3px outset buttonborder;
    border-radius: 5px;
    color: white;
    text-decoration: none;


}