<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title style="font-family:'Courier New'">
        Add to Book Store
    </title>
</head>
<body>
    <form style="font-family:'Courier New'" method="POST" action="/add_to_books">
        <input type="text" name="title" placeholder="Title" required><br>
        <input type="text" name="author" placeholder="Author" required><br>
        <input type="submit" value="Submit" class="submit-button">
    </form>


    <a href="/books" class="button">
    Go to the books page
    </a>

    <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTBmbnZvZ3FiZnJvdW9iaHNvZmlsMzVubm92ODB0ODVleXJ4ZXk2OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pY8jLmZw0ElqvVeRH4/giphy.gif" class="cat" width="100" height="100">

</body>
</html>