
<head>
    <link rel="stylesheet" href="/static/styles.css">

    <h1 style="font-family:'Courier New'">
        Welcome to the Book Corner
    </h1>
    <h2 style="font-family:'Courier New'">
        You can find lists of books in stock at out store
    </h2>
</head>


<body>
<p style="font-family:'Courier New'">
    Here you can either.
</p>

<ul>
    <li style="font-family:'Courier New'"> look at a list of available books</li>
    <li style="font-family:'Courier New'"> look at a list of authors we stock</li>
</ul>
</body>

<img src="https://i.pinimg.com/736x/e1/50/c1/e150c1ade483b1382c10fcec87561daa.jpg" alt="did you talk during independent reading time" class="haha" width="400" height="350">

<img src="https://pngpix.com/images/hd/grumpy-cat-meme-portrait-hxskvf3747fn1e9b.jpg" class="cat" width="100" height="100">
