<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title style="font-family:'Courier New'">
        Sign up
    </title>
</head>
<body>
    <h1 style="font-family:'Courier New'"> Sign up </h1>
    <form style="font-family:'Courier New'" method="POST" action="/users">
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>